body {
background: linear-gradient(158deg, #000000 0%, #51e66f 100%);
background-attachment: fixed;
background-size: cover;
}    
h1 {
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
  text-align: center;
}
